*.*~
__pycache__/
*.pkl
data/
**/*.egg-info
.python-version
../../PycharmProjects/CybORG/.idea/
.vscode/
.DS_Store
.pytest_cache/
profiles/
venv/*
venv
.idea/
CybORG\.egg-info/

_pycache_/
*.pyc

CybORG/Logs/
CybORG/Emulator/Logs/
CybORG/Emulator/logs/
CybORG/Emulator/Config/emulatorconfig.ini
docs/_build/
dist

CybORG/Shared/Config/config.ini

CybORG/Emulator/AWS/Config/awsconfig.ini

*.swp
*.pstats

.ipynb_checkpoints/